*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
  background: #000;
  color: #fff;
  font-weight: 400;
  font-size: 0.81em;
  line-height: 1;
  overflow-x:hidden; 
  font-family: 'Raleway', Calibri, Arial, sans-serif;
}
/*
 *  STYLE 4
 */

body ::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #444;
  opacity:0.5;
}

body::-webkit-scrollbar
{
  width: 4px;
  background-color: #444;
  opacity:0.5;
}

body::-webkit-scrollbar-thumb
{
  background-color: #e62b1e;
  opacity: 0.5;
}
.overlay ::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #000;
}

.overlay::-webkit-scrollbar
{
  width: 4px;
  background-color: #000;
}

.overlay::-webkit-scrollbar-thumb
{
  background-color: #e62b1e;
  border: 1px solid #e62b1e;
}
.overlay-login::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #000;
}

.overlay-login::-webkit-scrollbar
{
  width: 4px;
  background-color: #000;
}

.overlay-login::-webkit-scrollbar-thumb
{
  background-color: #e62b1e;
  border: 1px solid #e62b1e;
}

a, button {
  outline: none;
}

a {
  color: #566473;
  text-decoration: none;
}

a:hover, a:focus {
  color: #34495e;
}

section {
  text-align: center;
}

p.ref {
  text-align: center;
  padding: 2em 1em;
}
/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #fff;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('../img/demo-1-bg.jpg');
	background-attachment: fixed;
}

.main-title {

	position: absolute;
  cursor: pointer;
	margin: 0;
	padding: 0;
	color:#e62b1e;
	text-align: center;
	top: 50%;
	left: 50%;
	opacity:0;
	transform: translate3d(-50%,-50%,0);
	-webkit-transform: translate3d(-50%,-50%,0);
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3),
				 4px 8px 6px rgba(0,0,0,0.1),
				 8px 16px 12px rgba(0,0,0,0.05);
  
}

.demo-1 .main-title {
	
	font-size: 6.5em;
	font-weight: 900;
	  line-height: 25px;

}
.main-title .thin {
	font-weight: 200;
	color: white;
}
span#small{
	font-size: 18px;
	letter-spacing: 0.05em;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 4em;
      line-height: 15px;
	}
  span#small{
  font-size: 10px;
  letter-spacing: 0em;
}

	.demo-2 .main-title {
		font-size: 4em;
	}
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; -webkit-transform: translate3d(-50%,-100%,0);  } to { opacity:1; -webkit-transform: translate3d(-50%,-50%,0); } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; transform: translate3d(-50%,-100%,0); } to { opacity:1; transform: translate3d(-50%,-50%,0); } }


.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease 1;
  animation:fadeIn ease 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;
}

.fade-in.one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.nav-fade{
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:navfad ease 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:navfad ease 1;
  animation: navfad ease 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes navfad { from { opacity:0;} to { opacity:1; } }
@-moz-keyframes navfad { from { opacity:0; } to { opacity:1; } }
@keyframes navfad { from { opacity:0; } to { opacity:1; } }

.menu-down-fade{
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:mdfad ease 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:mdfad ease 1;
  animation: mdfad ease 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;

  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@-webkit-keyframes mdfad { from { opacity:0;} to { opacity:1; } }
@-moz-keyframes mdfad { from { opacity:0; } to { opacity:1; } }
@keyframes mdfad { from { opacity:0; } to { opacity:1; } }

section{
  overflow: hidden;
}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:active{
  color: #e62b1e;
  font-weight: bolder;
}

.navbar-default {
    background-color: #fff;
    -webkit-box-shadow: 5px -149px 90px 200px rgba(0,0,0,1);
    -moz-box-shadow: 5px -149px 90px 200px rgba(0,0,0,1);
    box-shadow: 5px -149px 90px 200px rgba(0,0,0,1);
    opacity: 0;
    border-color: #000;
    height:0px;
    padding: 0px;
    border: 0px;
    transition: ease-in 0.3s;
   -webkit-transition: ease-in 0.3s;
   color: white;
}
.navbar{
	min-height: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
    color: #fff;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
        /*border-radius: 600px;*/
    -webkit-transition-duration: 2s;
}
.navbar-default .navbar-nav>li, .navbar-default .navbar-nav>li:focus{
    color: #fff;
    background-color: rgba(231, 231, 231, 0);
        /*border-radius: 600px;*/
    -webkit-transition-duration: 2s;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-nav {
    font-size: small;
 }
 .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li:hover {
 	background-color: rgba(231, 231, 231, 0.65);
 	-webkit-transition-duration: 1s;
 }
 .navbar-bg-add{
 	background-color: black;
 	
 }

 .btn-scroll-down {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  -webkit-transition: display 0.5s easy-in-out;
  transition: display 0.5s easy-in-out;
}
.btn-scroll-down:before,
.btn-scroll-down:after {
  content: '';
  display: block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
.btn-scroll-down:before {
  bottom: 20px;
  width: 60px;
  height: 60px;
}
.btn-scroll-down:after {
  width: 30px;
  height: 30px;
  bottom: 35px;
  -webkit-animation: sc-down-a 0.5s infinite alternate;
  animation: sc-down-a 0.5s infinite alternate;
}
@-webkit-keyframes sc-down-a {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}
@-moz-keyframes sc-down-a {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}
@keyframes sc-down-a {
  0% {
    -webkit-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }
}





.about-title{
    display:inline-flex;
    font-size: 4em;
    margin-top: 8%;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: #E62B1e 0.5px solid;
}
.countdown-tedx{
    display:inline-flex;
    font-size: 4em;
    margin-top: 5%;
    margin-bottom: -10%;
    text-align: center;
    border-bottom: #E62B1e 0.5px solid;
}

.about-para{
  display: block;
  font-size: 2.3em;
  text-align: justify;
  letter-spacing: 2px;
  float:left;
  line-height: 1.5; 
  background: -webkit-linear-gradient(#fff,#fff, #E62B1e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.change-para{
  background: -webkit-linear-gradient(#000,#000, #E62B1e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-card{
  margin: 10px;
}

.speakers-title, .team-title{
        font-size: 4em;
    margin-top: 8%;
    padding-bottom: 10px;
    display: inline-flex;
    text-align: center;
    border-bottom: #E62B1e 0.5px solid;
}

.announcements h1{
  font-family: oswald;
  font-size: 4em;
  margin-top: 10%;
  margin-bottom: 5%;
}
.announcements button, .tab-content button{
      margin: 20px;
    min-width: 200px;
  background-color: #e62b1e;
  color: white;
  border-color: #e62b1e;
  transition: all 0.2s ease-out;
}
.announcements button:hover, .tab-content button: hover {
  background-color: white;
  color:#e62b1e;
  transition: all 0.2s ease-out;
}

.speakers-scroll{
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease-out;
}
#about{
  padding-bottom: 10%;
}
#fun{
  height: 440px;
}
.back-man{
  background: url(../img/man-back.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width:100%;
  height: 440px;
}
.man-front{
  position: absolute;
  background: url(../img/front-man.png) no-repeat;
  background-position:top right;
  margin-left: 50%;
  width: 478px;
  height: 440px;
}
.inspire{
  position: absolute;
  font-size: 110px;
  font-weight: 900;
  color:white;
  margin-top:9%;
  margin-left: 18%;
}
#fun2{
  margin-top: 8%;
  height: 440px;
}
.cloud-back{
  background: url(../img/cloud-back.jpg) no-repeat;
  background-position: left;
  background-size: cover;
  position: absolute;
  height: 440px;
  width:126%;
  z-index: -3;
}
.clock-tower{
  position: absolute;
  background: url(../img/clock-tower.png) no-repeat;
  background-position:bottom left;
  width: 440px;
  z-index: -1;
  height: 440px;
  left: 10%;
}

.adventure{
  color: white;
  position: absolute;
  font-family: oswald;
  z-index: -2;
  margin-left:35%;
  margin-top:20%;
  font-size: 70px;
  font-weight: 900;
}

.speaker-info{
  display: none;
}
.overlay-back{
  background-color: rgba(0,0,0,0.6);
  height: 0%;
  width: 100%;
  z-index: 99;
  position: fixed;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.overlay{
    height: 0%;
    width: 80%;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 10%;
    top: 10%;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    opacity: 0;
    transition: opacity 0.5s linear;
    overflow-y: scroll;
}
.overlay .closebtn{
  z-index: 2;
  position: absolute;
    float: right;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #e62b1e;
    cursor: pointer;
}
.overlay .closebtn:hover{
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}
.overlay-content{
  margin:10%;
}
.overlay-content div{
  text-align: center;
}
.overlay-content h1{
  font-size: 45px;
  color: #e62b1e;
}
.overlay-content p{
  font-size: 18px;
  text-align: justify;
  line-height: 1.4;
  color:#444;
  letter-spacing: 2px;
}

.social-footer{
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(../img/red-hands.jpg) fixed no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}
.social-footer-block{
  color: #ddd;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  font-family: roboto;
}
.social-footer-block p strong{
  font-size:20px;
  font-family: oswald;
  letter-spacing: 0.5px;
  line-height: 40px;
}
.social-footer-block img{
  opacity: 0.8;
}

.footer{
  padding:20px 0px 10px;
  text-align: center;

}
.footer p{
  font-size: 12px;
}

.c-icon {
    width:  36px;
    height: 36px;
    fill: currentColor;
    transition: .2s;
}

.c-link--facebook:hover  { color: #3b5998 }
.c-link--twitter:hover   { color: #55acee }
.c-link--instagram:hover { color: #833ab4 }
.c-link--snapchat:hover  { color: #fbe00f }
.c-link--facebook:hover::after  { background: #3b5998 }
.c-link--twitter:hover::after   { background: #55acee }
.c-link--instagram:hover::after { background: #833ab4 }
.c-link--snapchat:hover::after  { background: #fbe00f }

.c-link {
    position: relative;
    color: #ddd;
}

.c-link:not(:last-of-type) {
    margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    opacity: 0;
    transition: .2s;
}

.c-tooltip::before {
    content: '';
    bottom: calc(100% + 29px);
    border: solid 5px transparent;
    border-top-color: currentColor;
}

.c-tooltip::after {
    content: attr(aria-label);
    bottom: calc(100% + 39px);
    padding: .61em .93em;
    font-size: .975rem;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%);
}

.social-icons{
  margin-top: 40px;
}

#sponsors{
    padding-top: 10%;
    text-align: center;
    padding-bottom: 10%;
}
#sponsors img{
  width:240px;
  height: 100px;
  border-radius:8px; 
  /*border:#e62b1e solid 2px;*/
  -webkit-filter:invert(100%) grayscale(100%) ;  
    filter: invert(100%) grayscale(100%) ;
  transition: all 0.3s ease-in-out;
}


.sponsors-box{
  padding: 15px;
}

#sponsors img:hover{
  -webkit-animation: blurryface 1s cubic-bezier(0.31, 0.04, 0.36, 0.99) forwards;
  -moz-animation: blurryface 1s cubic-bezier(0.31, 0.04, 0.36, 0.99) forwards;
  animation: blurryface 1s cubic-bezier(0.31, 0.04, 0.36, 0.99) forwards;
  /*animation-timing-function: cubic-bezier(0.31, 0.04, 0.36, 0.99);*/
}
#sponsors h1{
  float: none;
  display: inline-flex;
  font-size: 4em;
  margin: 5%;
  padding-bottom: 10px;
  border-bottom: #E62B1e 0.5px solid;
}

@-webkit-keyframes blurryface { 0%{ -webkit-filter:invert(100%) grayscale(100%);} 50% { -webkit-filter:invert(0%) grayscale(50%) blur(3px);} 100% { -webkit-filter:invert(0%) grayscale(0%); } }
@-moz-keyframes blurryface { 0%{ -moz-filter:invert(100%) grayscale(100%);} 50% { -moz-filter:invert(0%) grayscale(50%) blur(3px); } 100% { -moz-filter:invert(0%) grayscale(0%); } }
@keyframes blurryface { 0%{ filter: invert(100%) grayscale(100%); } 50% { filter:invert(0%) grayscale(50%) blur(3px); } 100% { filter:invert(0%) grayscale(0%); } }

.toggle-body{
  background-color: white;
  color: #444;
}

/*countdown*/
.countdown {
  margin: 0px auto;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.countdown .time-circle {
  display: -moz-inline-stack;
  display: inline-block;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 15px;
  font-size: 54px;
  width: 140px;
  height: 140px;
  line-height: 110px;
  text-align: center;
  position: relative;
  background-color: #000;
}

.countdown .time-circle .time {
  display: -moz-inline-stack;
  display: inline-block;
  font-size: 54px;
}
.countdown .time-circle .time-name {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  line-height: 30px;
  color: #888;
}
.countdown .time-circle .progress {
  width: 146px;
  height: 146px;
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: -9;
  background-color: #E62B1e;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.countdown .time-circle .progress:after {
  content: '';
  width: 6px;
  height: 70px;
  background: #fff;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
.white-countdown{
  color:black;
}
#ourteam{
  margin: 30px auto;
}
#ourteam .team-title{
  margin: 30px auto;
}

/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-hang {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.ted_x{
    font-variant: small-caps;
    vertical-align: top;
    position: relative;
    bottom: 0.22em;
}