
@media only screen and (max-width: 780px){
  .about-title,.countdown-tedx,.announcements h1{
    font-size: 2.5em;
  }
  .about-para{
    font-size: 1.5em;
  }
  #cd-google-map address {
    padding: .1em .1em;
    font-size: 1.3em;
  }
  #quote-carousel .carousel-control.right {
    margin-right: 20px;
  }
  #quote-carousel .carousel-control.left {
    margin-left: 20px;
  }
  .effect-zoe h2{
    font-size: 14px;
    margin-left: -5px;
  }
  figure h2 {
    font-size: 15px;
  }


  .overlay{
    top:0;
    left: 0;
    width: 100%;
  }
  #fun{
    height:220px;
  }
  .back-man{
    height: 220px;
    width: 100%;
  }

  .man-front{
    height: 220px;
    width: 239px;
    background-size: 100%;
    margin-left: 100%;
    left: -239px;
  }
  .youtube-frame{
  margin:10%;
  width: 80vw;
  height: 50vh;
}
  .inspire{
    margin-top: 19%;
    font-size: 50px;
    margin-left: 18%;
  }
  #fun2{
    height: 220px;
  }
  .cloud-back{
    width: 100%;
    height: 220px;
  }
  .adventure{
    font-size: 50px;
    margin-top: 20%;
  }
  .clock-tower{
    height: 220px;
    width: 220px;
    background-size: 100%;
  }
  #sponsors img{
  max-width:160px;
  max-height: 66.67px;
  }
  
}
@media only screen and (max-width: 420px){
  .testimonials{
    min-height: 94vh;
  }
  .ted_detail.left {
    bottom: 60px;
    left: 0px;
}
.arrow-up {
    bottom: 30px;
    right: 30px;
  }
.about-card img{
  margin-top: 8%;
  margin-left: 0%;
}
.youtube-frame{
  margin:10%;
  width: 70vw;
  height: 25vh;
}
.btn-scroll-down{
  opacity: 0;
  visibility: hidden;
  display: none;
}
  .announcements h3{
    font-size: 2em;
  }
  .overlay h1{
    font-size: 25px;
  }
  .overlay p{
    font-size: 12px;
  }
  .overlay img{
    width: 140px;
  }
  .overlay .closebtn{
    font-size: 45px;
  }
  .speakers-title, #sponsors h1 {
    font-size: 2.4em;
  }
  #past-speakers h3{
    font-size: 2em;
  }
  .announcements button, .tab-content button {
    min-width: 110px;
  }
  .btn-group-lg>.btn, .btn-lg {
    padding:8px 10px;
    font-size: 10px;
  }

  .countdown .time-circle .progress {
  width: 106px;
  height: 106px;
}
.countdown .time-circle {
  width:100px;
  height: 100px;
  line-height: 75px;
}
.countdown .time-circle .time {
  font-size: 25px;
}

  #sponsors img{
  max-width:120px;
  max-height: 50px;
  }
  .inspire, .adventure{
    font-size: 24px;
  }
  .adventure{
    margin-left: 185px;
  }
.team-info{
  font-size: 14px;
}
.demo-effect-zoe h2, .demo-effect-zoe p{
  font-size: 2em;
}
.demo-effect-zoe p{
  font-size: 1.1em;
}
#ourteam .year-title h3{
  font-size: 18px;
}
#ourteam .team-title{
  font-size: 3.3em;
}

}

