* {
  box-sizing: border-box;
}

.no-padding {
  padding: 0;
}

body {
  color: #303030;
  font-family: 'Source Sans Pro';
  background: radial-gradient(circle, #f05c5c, #850000);
  overflow: hidden;
}

.container {
  max-width: 325px;
  background-color: #fff;
  margin: 30px auto 0;
  /*max-height: 600px;*/
  box-shadow: 0 12px 40px #000;
}
.header{
  height: 100px;
}

.header img {
  width: 100%;
}
.logo{
      position: relative;
    margin-left: 50%;
    top: -64px;
    left: -75px;
    width: 150px;
  }
  .logo img{
    width: 150px;
  }

.about {
  margin-left: 25%;
  position: relative;
}
.about h1 {
  font-size: 1.7em;
  font-weight: 400;
  margin: 0.5em 0 0 0;
}
.about span {
  font-size: 0.8em;
  color: #aaa;
  line-height: 1;
  font-weight: 300;
  padding-right: 50%;
}

.follow {
  position: absolute;
  top: 0;
  left: 110%;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 40px #d6d6d6;
  cursor: pointer;
}
.follow span {
  font-size: 1.5em;
}
.follow h2 {
  font-size: 0.8em;
  font-weight: 300;
  margin: 0;
}

ul {
  padding: 0;
  margin: 1em 0 0;
  list-style: none;
}
ul li {
  padding: 15px 0 15px 25%;
  font-size: 0.8em;
  line-height: 1.8;
  border-top: 1px solid #ccc;
  color: #303030;
  font-weight: 300;
}
ul li p {
  margin: 0;
  padding-right: 2em;
  line-height: 1.2;
  font-size: 1em;
}

.half {
  display: inline-block;
  color: #aaa;
  font-weight: 300;
  padding: 20px 0 20px 2em;
}
.half:first-child {
  padding-left: 25%;
  padding-right: 2em;
  border-right: 1px solid #ccc;
}
.half span {
  font-weight: 400;
  font-size: 1.5em;
  display: block;
  line-height: 0.7;
  color: #303030;
}

.photo {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-right: 5px;
  border-radius: 10px;
  overflow: hidden;
}
.photo img {
  width: 100%;
}
.photo.more {
  background-color: #20a6fc;
  color: #fff;
  box-shadow: 0 0 30px #b0b0b0;
  padding: 2em 1em;
  font-weight: 300;
}
.photo.more span {
  display: block;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 0.6;
}

.meta {
  color: #aaa;
  line-height: 0.7;
  margin-bottom: 10px;
}

.dot {
  position: relative;
}

.dot::after {
  content: ' ';
  background-color: green;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  left: 15%;
  top: 20px;
}
.dot_red {
  position: relative;
}

.dot_red::after {
  content: ' ';
  background-color: red;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  left: 15%;
  top: 20px;
}

.credits, .video {
  position: absolute;
  bottom: 10px;
  color: #aaa;
  font-size: 100%;
  text-decoration: underline;
}

.credits {
  left: 10px;
}

.video {
  right: 10px;
}
#view_profile{
  cursor: pointer;
}
.profile{
  padding:15px 0 15px 0;
  display: none;
  background-color: #eee;
  box-shadow:inset 0 2px 14px #bbb;
}
.profile_card h2{
  text-align: center;
}
.profile_card{
  width: 100%;
  padding:15px 0 15px 0;
  background-color: #fff;
}
.profile_card h3,.profile_card h2{
   font-family: roboto;
    font-weight: 400;
    color: #383838;
}
.profile_card span{
  color: #888;
}
.profile_card h3, .profile_card span{
  margin:0px 10px ;
  line-height: 25px;
}
.profile_container{

  max-height: 200px;
  overflow: scroll;
}
.profile_container ::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fff;
  opacity:0.5;
}

.profile_container::-webkit-scrollbar
{
  width: 4px;
  background-color: #fff;
  opacity:0.5;
}

.profile_container::-webkit-scrollbar-thumb
{
  background-color: #e62b1e;
  opacity: 0.5;
}